@import url('https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic');

/*BASE*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* width: 100%; */
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
      to top,
      rgba(46, 49, 65, 0.8),
      rgba(46, 49, 65, 0.8)
    ),
    url(../../images/bg.jpg);
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header,
img,
footer,
.contact input,
.contact label,
textarea,
.rights,
.contact {
  width: 100%;
}

h1,
h2,
h3,
label,
.button,
article a {
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

.button {
  padding: 0.5em;
  border-radius: 0.75em;
  text-align: center;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: max(272px, 80vw);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*MENU */

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1d1f1d;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  padding-right: 20px;
}

.desktop-menu {
  display: none;
  justify-content: center;
  align-items: center;
}
header .logo {
  text-transform: none;
  color: #09c372;
  font-size: 20px;
  padding: 0 20px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 50px;
}

header ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header li {
  padding: 5px;
  margin-left: 10px;
}

header a {
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 3px;
}

header li:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

#hamburger-icon {
  margin-block: 0;
  display: block;
  cursor: pointer;
}

#hamburger-icon div {
  /*Bars of the hamburger menu*/
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  touch-action: none; /*gh*/
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  background-color: #1d1f1d;
  padding-top: 50px;
}

.mobile-menu li {
  padding: 0;
  margin-top: 40px;
}

.mobile-menu a {
  padding: 10px 60px;
  font-size: 30px;
}

/*PAGE H1 */
.heading {
  text-align: center;
  margin-top: 80px;
  /* margin-bottom: min(5vh, 40px); */
  padding-inline: 1rem;
}
.title {
  font-size: 2rem;
  border-bottom: #ffffff55 2px solid;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.subtitle a {
  color: #09c372;
  transition: ease 0.3s;
}

.subtitle a:hover {
  font-weight: bold;
}

/*PROJECTS */

.projects-box h2 {
  margin: 80px auto 1em;
  font-size: 1.75rem;
}

.projects-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
article {
  background-color: #3e4256;
  width: 100%;
  max-width: 350px;
  margin-bottom: 2em;
  border-radius: 0.5rem;
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  overflow: hidden;
  box-shadow: 0px 6px 20px 3px rgba(255, 255, 255, 0.2);
  /* box-shadow: 0px 5px 20px 3px rgba(86, 34, 119, 0.4); */
}

.text {
  padding: 2em 2em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.text h3 {
  border-bottom: #ffffff55 2px solid;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em;
}

.text p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

.preview-button {
  background-color: #fff;
  color: #3e4256;
  border: 2px solid #fff;
  align-self: center;
  padding-inline: 3em;
  width: min(270px, 80vw);
  text-align: center;
  margin-block: 1em 0.5em;
  transition: ease 0.2s;
}

.preview-button:hover {
  background-color: inherit;
  color: #fff;
}

.view-button {
  max-width: 270px;
  align-self: center;
  color: rgba(255, 255, 255, 0.719);
  transition: ease 0.2s;
}

.view-button:hover {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 0.25em;
  padding-left: 1em;
}

/*REPOSITORY BUTTON*/
.repo-button {
  border: 1px solid #ffffff77;
  padding: 1em;
  margin-top: 2rem;
  color: #fff;
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/*CONTACT ME SECTION*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact h2 {
  border-bottom: #ffffff55 2px solid;
  padding-bottom: 1em;
  margin-bottom: 1em;
  width: 100%;
  padding-top: 80px;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.contact label {
  display: block;
  margin-block: 1em 0.5em;
}

.contact input,
.contact textarea {
  background-color: inherit;
  border: #ffffff33 1px solid;
  border-radius: 0.25em;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.1025rem;
  font-family: Raleway, Helvetica, sans-serif;
}

.contact input {
  color: #fff;
  padding: 0.75em;
}
.contact textarea {
  height: 8em;
  padding: 1em;
  color: #fff;
}

.contact input:hover,
.contact input:focus,
.contact label:hover,
.contact label:focus,
.contact textarea:hover,
.contact textarea:focus {
  transition: ease 0.4s;
  outline: none;
  border-color: #fffa;
}

#send-button {
  margin: 2em auto 3em;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fff;
  color: #3e4256;
  font-size: 1.1rem;
  border-radius: 0.75em;
  align-self: center;
}

#send-button:hover {
  background-color: inherit;
  color: #fff;
}

/*CONTACT AND SOCIAL MEDIA LINKS*/

.contact-links {
  align-self: flex-start;
  padding-top: 3rem;
}

.contact-links a {
  color: #fff;
}

.contact-links li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact-links li:not(:last-child) {
  margin-bottom: 1em;
}

.contact-links li::before {
  flex-shrink: 0;
  border-radius: 100%;
  /* border: solid 1.5px rgba(255, 255, 255, 0.125); */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-weight: 900;
  margin-right: 0.25em;
}
.whatsapp::before {
  color: green;
  content: '\f232';
  font-size: 1.25em;
}
.instagram::before {
  color: rgb(202, 52, 202);
  content: '\f16d';
  font-size: 1.125em;
}
.email::before {
  color: rgb(201, 8, 8);
  content: '\f0e0';
  font-size: 1em;
  font-weight: 400 !important;
}
.home::before {
  color: gray;
  content: '\f015';
  font-size: 1em;
}

.brands::before {
  font-family: 'Font Awesome 5 Brands';
}

.solid::before {
  font-family: 'Font Awesome 5 Free';
}

/*ALL RIGHTS RESERVED*/

.rights {
  /* border-top: solid 2px rgba(255, 255, 255, 0.125); */
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 1em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header {
    justify-content: center;
  }

  .desktop-menu {
    display: flex;
  }

  #hamburger-icon {
    display: none;
  }
  .title {
    margin-top: 50px;
  }
  .subtitle {
    font-size: 1.25rem;
    padding-inline: 3rem;
  }

  .projects-box {
    width: 100%;
  }

  .projects-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  img {
    aspect-ratio: 16/9;
    /* object-fit: cover; */
  }

  .container {
    width: 90vw;
  }

  article {
    width: 325px;
    height: 505px;
  }

  .text {
    align-items: stretch;
  }
  #send-button {
    width: 350px;
  }

  .contact-links {
    font-size: 1.5rem;
  }
}

@media (max-width: 790px) {
  .projects-wrapper {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  body .container {
    width: 900px;
  }
  article {
    margin: 2rem;
  }
  .projects-wrapper {
    justify-content: space-around;
  }
  .contact-box {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  form {
    max-width: 50%;
  }
  #send-button {
    width: 250px;
  }
}

@media only screen and (min-width: 1200px) {
  article {
    margin: 1rem 0;
  }
  .projects-wrapper {
    justify-content: space-around;
  }
  .subtitle {
    font-size: 1.5rem;
  }
}
